<div class="text-center">
    <div style=" margin: 0; padding: 0;">
        <h1 class="title-box">#{{hashtag}}</h1>
        <h1 class="title-box">@{{userName}}</h1>
    </div>
    <div class="teste" [style]="image">
        <div class="row">
            <div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div>
        <h3 class="title-box">{{textPost}}</h3>
    </div>
</div>

