<div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center text-white">
        <h1>Insta Presentation</h1>
    </div>
</div>
<div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="input-group">
                <span class="input-group-addon">Digite a Hashtag:</span>
                <input type="text"
                       class="form-control"
                       placeholder="Digite a Hashtag"
                       [(ngModel)]="hashtag">
            </div>
            <br>
            <button class="btn btn-primary btn-block" (click)="go()">
                Iniciar
            </button>
        </div>
</div>